<form action="/auth/signup" method="POST">
   <label> Username
      <input type="text" name="username" placeholder="Ej. Poncho1234" required>
   </label>
   <label> Email
      <input type="email" name="email" placeholder="Ej. poncho112233@ironhack.com" required>
   </label>
   <label> Password
      <input type="password" name="password" required minlength="8">
   </label>

   <button type="submit">Signup</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}