<div id="form-review">
  <form action="/media/create-new-review" method="POST">

    <br />
    <br />

    <label for="review">Review:</label>
    <br />
    <textarea id="review" name="review" rows="12" cols="50"></textarea>
    <br />

    <br />
    <br />

    <label for="quantity">Calification (out of 5):</label>
    <input id="quantity" type="number" name="calification" min="1" max="5" />

    <br />
    <br />

    <br />
    <label for="html">Loved it!</label>
    <input type="radio" id="like" name="like" value="true" />

    <br />
    <button type="submit">Review!</button>

  </form>
</div>